body { display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh; background-color: #d5e1ef; font-family: 'Outfit'; }
h1 { font-weight: 700; }
p { font-weight: 400; font-size: 15px; }

.container { margin-left: 30%; margin-right: 30%; margin-top: 20px; margin-bottom: 20px; padding: 20px; border-radius: 20px; width: 300px; word-wrap: break-word; background-color: white; }
.container img { max-width: 100%; height: auto; }

.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }
